body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDEEF0;
    padding: 100px;
}

.window{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
    margin: auto;
    border: 1px #FFFFFF solid;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 24rem;
}

.window-header{
    font-weight: 1000;
    font-size: 28px;
    color: #9950F6;
}

.window, .window-body, .fields{
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.window-body{
    width: 100%;
}

.login-signup-slider-tab{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 192px;
    height: 30px;
    flex: none;
    flex-grow: 0;
}

a{
    font-size: 20px;
    color: #551AA0;
    text-decoration: none;
}

form{
    width: 100%;
}

.input{
    width: 100%;
}

.input-field-default{
    color: #B3B3B3;
    height: 40px;
    min-width: 240px;
    padding: 0px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
}

.submit-btn{
    background: #9950F6;
    color: white;
    border: 0px;
    border-radius: 8px;
    height: 40px;
    width: 100%;
}



.window-body{
    font-size: 16px;
}

.tab-active{
    font-weight: bold;
    text-decoration: underline;
}

.input-text{
    color: #1E1E1E;
    margin-bottom: 3px;
}

